#cont1{
    position: relative;
    margin-top: 30px;
   left: 300px;
     right: 100px;
    width: 950px;
    height: 580px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 3px #a4a2a2;

    
}

#cont1::before{
    content: "";
   
    background: url('/assets/computer.jpg');
    // background-color: antiquewhite;
    filter: blur(2px);
    position: absolute;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

#cont1 h2{
    text-align: center;
    justify-content: center;
    padding:150px 200px;
    color: rgb(50, 97, 139);
}


#cont2{
    position: relative;
    margin-top: 5px;
    background-color: #a4a2a2;
   left: 300px;
     right: 100px;
    width: 950px;
    height: 450px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 3px #a4a2a2;

    
}



#cont2 h4{
    text-align: center;
    justify-content: center;
    padding:150px 200px;
    color: rgb(50, 97, 139);
}

#cont2 p{
    text-align: center;
    
 margin-top: 5px;
    color: rgb(13, 23, 33);
   
   
}


#cont2 button{
    text-align: center;
    padding:10px 20px;
    color: rgb(50, 97, 139);
    justify-content: center;
    margin-right: 50px;
}

#search-form{

   padding:3px 100px;
}

#register-btn{
   margin:10px 400px;
}



#cont3{
    position: relative;
    margin-top: 5px;
    background-color:rgb(57, 52, 52);
    left: 300px;
    right: 100px;
    width: 950px;
    height: 180px;
    font-weight: bold;
    
    box-shadow: 1px 1px 3px 3px #a4a2a2;

    
}

#cont3 h4{
    text-align: center;
    justify-content: center;
    padding:50px 200px;
    color: rgb(50, 97, 139);
    
}

#cont4{
    position: relative;
    margin-top: 5px;
    background-color:whitesmoke;
    left: 300px;
    right: 100px;
    width: 950px;
    height: 100px;
    font-weight: bold;
    box-shadow: 1px 1px 3px 3px #a4a2a2;

    
}


#cont3 h5{
    text-align: center;
    justify-content: center;
    padding:150px 200px;
    color: rgb(50, 97, 139);
}